.player {
  background: radial-gradient(
    rgba(250,131,45, 1),
    rgba(250,131,45, 0.9),
    rgba(250,131,45, 0.9));
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  box-shadow: 1px 0 10px 1px rgba(0,0,0,0.3);
  color: white;
  z-index: 999;
}

.pic {
  height: 100px;
  width: 100px;
  position: absolute;
}

img {
  height: 100px;
  width: 100px;
}

.info {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
}

.fa-play-circle{
  margin-top: 15px;
  box-shadow: 1px 1px 1px rgba(245,245,245,0.4),
              -1px -1px 1px rgba(245,245,245,0.4);
  padding-top: 8px;
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

.fa-backward{
  position: relative;
  right: 20px;
  top: -15px;
}

.fa-forward{
  position: relative;
  left: 20px;
  top: -15px;
}

.fa-retweet{
  position: relative;
  right: 40px;
  top: -15px;
}

.fa-arrows-alt{
  position: relative;
  left: 40px;
  top: -15px;
}

.fa-volume-up{
  float: right;
  position: relative;
  right: 100px;
  top: 40px;
}

.fa-play-circle {
  transition: 0.5s;
}

.fa-backward,
.fa-forward,
.fa-retweet,
.fa-arrows-alt,
.fa-volume-up {
  transition: 0.5s;
  padding: 2px;
  border-radius: 50px
}

/* Just the HOVER effect for big Play Button */
.fa-play-circle:hover {
  transform: scale(0.95);
  box-shadow: 2px 1px 30px rgba(0,0,0,0.1),
              -2px -1px 30px rgba(0,0,0,0.1);
  background-color: rgba(81,157,255,0.9);
}

.fa-backward:hover,
.fa-forward:hover,
.fa-retweet:hover,
.fa-arrows-alt:hover,
.fa-volume-up:hover {
  transform: scale(0.99);
  box-shadow: 2px 1px 30px rgba(0,0,0,0.2),
              -2px -1px 30px rgba(0,0,0,0.2);
  background-color: rgba(75,123,236,0.2);
}


@media screen and (max-width: 950px) {
  .player {
    width: 950px;
  }
}
