/* Top Songs Section */


.top-songs > ul  {
}

.top-songs > ul > li {
  list-style: none;
  transition: 0.2s;
  margin-left: -40px;
  padding: 5px;
}



.top-songs > ul > li:hover {
  /* background-color: rgba(81,157,255,0.3); */
  color: white;
  fill: white;
  box-shadow: inset 0 -5px 5px -5px  rgba(250,131,45,0.9);
}

.song-card{
  height: 50px;
  width: 100%;
  position: relative;
  right: 40px;
}

.song-card > img {
  width: 40px;
  height: 40px;
  float: left;
  position: relative;
  left: 50px;
  top: 5px;
}


.song-name{
  position: absolute;
  font-size: 0.8em;
  font-weight: 600;
  top: 15px;
  left: 120px;
  color: #555;
}

.explicit-top-5{
  display: inline-block;
  position: relative;
  top: 12px;
  left: 370px;
  width: 20px;
  height: 20px;
  fill: #f83;
}

.song-album{
  position: absolute;
  font-size: 0.8em;
  font-weight: 600;
  top: 15px;
  left: 565px;
  color: #555;
}

.song-length{
  position: absolute;
  font-size: 0.8em;
  font-weight: 600;
  top: 15px;
  left: 440px;
  color: #555;
}
