<div class="container">
  <h3>Recent Activity</h3> <i class="fa fa-angle-right"></i>
  <ul style="margin-top: 20px;">
  </ul>
</div>


<div class="container">
  <h3>New Releases For You</h3> <i class="fa fa-angle-right"></i>
  <ul style="margin-top: 20px;">

  </ul>
</div>

<div class="container">
  <h3>Liked</h3> <i class="fa fa-angle-right"></i>
  <ul style="margin-top: 20px;">

  </ul>
</div>

<div class="container">
  <h3>Party Playlist</h3> <i class="fa fa-angle-right"></i>
  <ul style="margin-top: 20px;">

  </ul>
</div>

<div class="container">
  <h3>Workout Playlist</h3> <i class="fa fa-angle-right"></i>
  <ul style="margin-top: 20px;">

  </ul>
</div>

<div class="container" style="margin-bottom:100px;">
  <h3>Study Playlist</h3> <i class="fa fa-angle-right"></i>
  <ul style="margin-top: 20px;">

  </ul>
</div>
