<div class="recent">
  <h3>Recent Activity</h3> <i class="fa fa-angle-right"></i>
  <ul style="margin-top: 20px;">
    <li><img src="{{artistData.artists[0].albums[0].albumCover}}"></li>
    <li><img src="{{artistData.artists[1].albums[0].albumCover}}"></li>
    <li><img src="{{artistData.artists[4].albums[0].albumCover}}"></li>
    <li><img src="{{artistData.artists[2].albums[0].albumCover}}"></li>
    <li><img src="{{artistData.artists[3].albums[0].albumCover}}"></li>
  </ul>
</div>


<div class="new-releases">
  <h1>New Releases For You</h1>

  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <hr>
  </ul>
</div>

<div class="party-playlist">
  <h1>Party Playlist</h1>
  <hr>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="workout-playlist">
  <h1>Workout Playlist</h1>
  <hr>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="study-playlist">
  <h1>Study Playlist</h1>
  <hr>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
